<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskBlog</title>
</head>
<body onload="loadAgeSelector()">
    <h1>For Educational Purposes Only</h1>
   <h3>Imagine if you were doing a survey, and one of the questions innocently asks for your last 4 alphanumeric values of your NRIC, e.g. "123A", your age and birthdate/month, will your full NRIC still be a secret?</h3>
   <h3>Probably not, let me try to guess your NRIC in no more than 2 tries. (none of the data you will be sending is collected or cached)</h3>

<div id="hidden_div" style="display:block">

    <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>

<h3>
    <p>My best guess is {{result[0]}}</p>
    <p> My second guess is {{result[1]}}</p>
    <p>If I am wrong then that is good for you! But apparently it seems like it is only accurate for Singaporeans born in Singapore.</p>
    <p> Don't give out your personal data so easily since people can easily stalk to obtain your birthday, and they can just use this to figure out your complete NRIC</p>
    <a href = "/"> Try another NRIC</a>
    <br>
    <p>Special thanks to Nathanael Chong for inspiring this project</p>

    <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="lucaslimyeechern" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://sg.linkedin.com/in/lucaslimyeechern?trk=profile-badge">Yee Chern (Lucas) Lim</a></div>
</h3>
</div>


</body> 
</html>